.gallery {
  list-style: none;
  padding: 0;
  margin: 24px 156px;
  background-color: #fff;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-image {
  width: 360px;
  height: 200px;
  opacity: 100;
  object-fit: cover;
  display: block;
}
